<!DOCTYPE html>
<html lang="en" ng-app="meishi">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<title>美食外卖</title>
	<link rel="icon" href="img/food.jpg">
	<link href="jqm/jquery.mobile-1.4.5.css" rel="stylesheet">
	<link href="css/meishiapp.css" rel="stylesheet">
	<script src="js/jquery-1.11.3.js"></script>
	<script src="jqm/jquery.mobile-1.4.5.js"></script>
	<script src="js/angular.js"></script>
	<script src="js/angular-touch.js"></script>
	<script src="js/meishiapp.js"></script>
</head>
<body ng-controller="indexCtrl">
<div data-role="page" id="main" ng-controller="mainCtrl" ng-swipe-left="jumpTo('detail.html')">
	<div data-role="header" data-position="fixed">
		<h1>美食外卖</h1>
		<a href="#start" class="ui-btn ui-corner-all ui-icon-arrow-l ui-btn-icon-notext"></a>
	</div>
	<div class="ui-content">
		<h1>菜品列表</h1>
		<input type="search" placeholder="搜索菜品名称和原料..." ng-model="keywd">
		<ul data-role="listview" data-inset="true">
			<li ng-repeat="d in dishList">
				<a href="detail.html" ng-click="sendId(d.did)">
					<img ng-src="img/{{d.img_sm}}" alt="food">
					<h2>{{d.name}}</h2>
					<p class="borderbtn">主要食材：{{d.material}}</p>
					<span class="text-danger">价格:&yen;{{d.price}}</span>
				</a>
			</li>
	</div>
	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="main.html" class="ui-btn ui-icon-home ui-btn-icon-top"> </a></li>
				<li><a href="myorder.html" class="ui-btn ui-icon-user ui-btn-icon-top"></a></li>
				<li><a href="main.html" class="ui-btn ui-icon-gear ui-btn-icon-top"></a></li>
			</ul>
		</div>
	</div>
</div>


</body>
<script type="text/javascript">
</script>
</html>
